* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 80%;
  margin: auto;
  margin-top: 5vh; }

.armaTuPizza {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0,5fr 3fr;
  grid-template-areas: "titulo titulo" "preciosIngredientes armarPizza"; }
  .armaTuPizza h2 {
    grid-area: titulo; }
  .armaTuPizza .armarPizza {
    grid-area: armarPizza; }
  .armaTuPizza .preciosIngredientes {
    grid-area: preciosIngredientes; }

.carta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0,5fr 3fr;
  grid-template-areas: "titulo titulo" "tabla orden";
  gap: 10px; }
  .carta h2 {
    grid-area: titulo; }
  .carta .carta__tabla {
    grid-area: tabla; }
  .carta .carta__orden {
    grid-area: orden; }
